header{
    width: 100%;
    background-color: #7259c1;
  
  }
  
  header .container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 10vh;
    margin: auto;
    align-self: start;
  }
  
  header nav {
    display: flex;
  }
  
  header nav ul {
    display: flex;
  }
  
  header nav ul li {
    list-style: none;
  }
  
  header nav ul li a {
    text-decoration: none;
    color: rgb(241, 239, 239);
    font-size: 1rem;
    padding: 2.0rem;
    transition: all 250ms linear 0s;
  }
  
  li:hover {
   cursor: pointer;
  font-weight: bold;
  -webkit-transform: translateY(-2px);
  -moz-transform: translateY(-2px);
  -ms-transform: translateY(-2px);
  -o-transform: translateY(-2px);
  transform: translateY(-2px);
  }

  header nav ul li a{
    position: relative;
    animation-name: menu;
    animation-duration: 1s;
    transition: 100ms;
  }
  
  header nav ul li a {
    position: relative;
    top: 2px;
    left: 2px;
  }

   li{
    width: 10vw;
    margin-left: 1rem;
    background-color: black;
  }
  
  @keyframes menu {
    0%   { left:0px; top: -100px;}
    100% { left: 0px; top:0px;}
    
  }
  
  @media (max-width: 630px){
    html{
      font-size: 70%;
    }
   .hero .container{
     flex-direction: column;
     text-align: center;
   }
  
   .form-group{
     display: block;
   }
  }
  
  @media (max-width: 1120px){
   
     .menu-section nav{
      display: none;
    }
  
    .one,
    .two,
    .three{
      background-color:#ffffff;
      height: 5px;
      width: 100%;
      margin: 6px auto;
      transition-duration: 0.3s;
    }
    .menu-toggle{
      width: 40px;
      height: 30px;
      margin-right: 20px;
    }
  
    /*Fullscreen*/
    .menu-section.on {
      position: absolute;
      top:0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background: #7259c1;
      z-index: 10; /*camada acima, evitar o scrool dos itens a baixo*/
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .menu-section.on nav{
      display: block;
    }
  
    
    .menu-section.on .menu-toggle{
      position: absolute;
      right: 25px;
      top: 25px;
    }
  
    
    .menu-section.on .menu-toggle .one{
      transform: rotate(45deg) translate(7px, 7px);
      background-color: #fff;
    }
  
    .menu-section.on .menu-toggle .two{
     opacity: 0;
  
    }
  
    .menu-section.on .menu-toggle .three{
      transform: rotate(-45deg) translate(8px, -9px);
      background-color: #fff;
    }
  
    .menu-section.on nav ul{
      text-align: center;
      display: block;
    }
  
    .menu-section.on nav ul a{ 
     transition-duration:  0.5s;
     font-size: 2.0rem;
      display: block;
      color: #fff;
      padding: 1.8rem;
    }
  }
  
  @media (max-width: 320px){
    #form h3{
      font-size: 2rem;
    }
  
  }